# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Virtual environment
.venv/
env/
venv/

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo

# Flask specific
instance/
*.log

# Dependency directories
.pip/
*.egg-info/
.eggs/
dist/
build/

# Jupyter Notebooks
.ipynb_checkpoints

# OS-specific files
.DS_Store
Thumbs.db

# pytest
.cache
