{% extends "layout.html" %}

{% block title %}Login{% endblock title %}

{% block content %}
<section class="bg-white p-5 rounded w-100 mx-auto mt-5">
    <h1 class="text-center">Log In</h1>
    <form action="/login" method="post">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" name="username" placeholder="Username" class="form-control" id="username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" placeholder="Password" class="form-control" id="password">
        </div>
        <button type="submit" class="btn btn-primary w-100">Log In</button>
    </form>
</section>
{% endblock content %}