<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    {% if 'username' in session %}
      <a class="navbar-brand text-primary fs-2 fw-semibold" href="/">{{ session["username"] }}</a>
    {% else %}
      <p class="navbar-brand text-primary fs-2 fw-semibold" href="/">Hello, World!</p>
    {% endif %}

    <button class="navbar-toggler bg-primary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon "></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if 'username' in session %}
          <li class="nav-item">
            <a class="nav-link text-white" href="/">TODO List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/timer">Timer</a>
          </li>
        {% endif %}
      </ul>
      <span class="navbar-text">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex">
          {% if 'username' not in session %}
            <li>
              <a class="btn btn-primary m-1 text-white" href="/register">Reginter</a>
            </li>
            <li>
              <a class="btn btn-outline-primary m-1 text-white" href="/login">Login</a>
            </li>
          {% else %}
            <li>
              <a class="btn btn-outline-primary m-1 text-white" href="/logout">Logout</a>
            </li>
          {% endif %}
        </ul>
      </span>
    </div>
  </div>
</nav>