{% extends "layout.html" %}

{% block title %}TODO List{% endblock title %}

{% block content %}

<section class="">
    <div class="header">
        <h1 class="text-white text-center">Todo List</h1>
        <form class="d-flex" action="/todo-list" method="post">
            <input autofocus class="form-control me-2" type="text" placeholder="Add Todos" name="todo-list">
            <button class="btn btn-outline-primary text-white" type="submit">Add</button>
        </form>
    </div>
    <hr class="mb-0 mt-1">
    <ul class="list-group list-group-flush">
        {% for todos in todo_list_items %}
            <li class="list-group-item bg-transparent text-body text-gray">
                {{ todos.text }}
                <div class="ml-3 d-flex align-items-center justify-content-evenly">
                    <button type="button" id="delete_todo" class="btn btn-outline-danger text-white">Delete</button>
                </div>
            </li>
        {% endfor %}
      </ul>
</section>

{% endblock content %}