{% extends "layout.html" %}

{% block title %}TODO List{% endblock title %}

{% block content %}

<section class="">
    <div class="header">
        <h1 class="text-white text-center">Todo List</h1>
        <div class="d-flex w-100 todo-filed">
            <input autofocus class="form-control me-2" type="text" placeholder="Add Todos" id="todo-list">
            <button id="add-todo" class="btn btn-outline-primary text-white">Add</button>
        </div>
    </div>
    <hr class="mb-0 mt-1">
    <ul class="list-group list-group-flush">
        {% for todos in todo_list_items %}
            <li id="todo-{{ todos.id }}" class="list-group-item bg-transparent text-body text-gray text-white">
                {{ todos.text }}
                <div class="ml-3 d-flex align-items-center justify-content-evenly">
                    <button type="button" data-taskid="{{ todos.id }}" class="btn btn-outline-danger text-white delete-btn">Delete</button>
                </div>
            </li>
        {% endfor %}
    </ul>
</section>

{% endblock content %}

{% block script %}
<script>
// Handle the "Delete" button click event
const deleteButtons = document.querySelectorAll('.delete-btn');

deleteButtons.forEach(button => {
    button.addEventListener('click', function() {
        const taskId = this.getAttribute('data-taskid');  // Get the task ID
        
        // Send a DELETE request to the Flask backend
        fetch(`/delete-todo/${taskId}`, {
            method: 'DELETE',  // HTTP method
            headers: {
                'Content-Type': 'application/json',  // The content type is JSON
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                // Remove the todo item from the DOM
                const todoItem = document.getElementById('todo-' + taskId);
                if (todoItem) {
                    todoItem.remove();
                }
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
});
// Add todo
let addTodo = document.querySelector("#add-todo");

addTodo.addEventListener('click', (e) => {
    e.preventDefault(); // Prevent the default action if needed
    
    // Make the AJAX request
    $.ajax({
        type: "POST",
        url: "/add-todo",
        data: {"text": document.querySelector("#todo-list").value},
        success: function(response) {
            // Refresh the page after the request is successful
            location.reload();
        },
        error: function(xhr, status, error) {
            console.error("Error adding todo: " + error);
        }
    });
});
</script>
{% endblock script %}